tests/wsdl_cache/adgroups.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:ns="http://api.direct.yandex.com/v5/adgroups" xmlns:general="http://api.direct.yandex.com/v5/general"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    name="AdGroups" targetNamespace="http://api.direct.yandex.com/v5/adgroups">
    <wsdl:types>
        <xsd:schema targetNamespace="http://api.direct.yandex.com/v5/adgroups">
            <xsd:import namespace="http://api.direct.yandex.com/v5/general" schemaLocation="https://soap.direct.yandex.ru/v5/general.xsd"/>
            <xsd:simpleType name="AdGroupFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Id"/>
                    <xsd:enumeration value="CampaignId"/>
                    <xsd:enumeration value="Status"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="RegionIds"/>
                    <xsd:enumeration value="RestrictedRegionIds"/>
                    <xsd:enumeration value="NegativeKeywords"/>
                    <xsd:enumeration value="NegativeKeywordSharedSetIds"/>
                    <xsd:enumeration value="Type"/>
                    <xsd:enumeration value="TrackingParams"/>
                    <xsd:enumeration value="Subtype"/>
                    <xsd:enumeration value="ServingStatus"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MobileAppAdGroupFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="StoreUrl"/>
                    <xsd:enumeration value="TargetDeviceType"/>
                    <xsd:enumeration value="TargetCarrier"/>
                    <xsd:enumeration value="TargetOperatingSystemVersion"/>
                    <xsd:enumeration value="AppIconModeration"/>
                    <xsd:enumeration value="AppAvailabilityStatus"/>
                    <xsd:enumeration value="AppOperatingSystemType"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="DynamicTextAdGroupFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AutotargetingCategories"/>
                    <xsd:enumeration value="AutotargetingSettings"/>
                    <xsd:enumeration value="DomainUrl"/>
                    <xsd:enumeration value="DomainUrlProcessingStatus"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="DynamicTextFeedAdGroupFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AutotargetingCategories"/>
                    <xsd:enumeration value="AutotargetingSettings"/>
                    <xsd:enumeration value="Source"/>
                    <xsd:enumeration value="FeedId"/>
                    <xsd:enumeration value="SourceType"/>
                    <xsd:enumeration value="SourceProcessingStatus"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SmartAdGroupFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FeedId"/>
                    <xsd:enumeration value="AdTitleSource"/>
                    <xsd:enumeration value="AdBodySource"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="TextAdGroupFeedParamsFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="FeedId"/>
                    <xsd:enumeration value="FeedCategoryIds"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UnifiedAdGroupFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="OfferRetargeting"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AdGroupSubtypeEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="WEBPAGE"/>
                    <xsd:enumeration value="FEED"/>
                    <xsd:enumeration value="NONE"/>
                    <xsd:enumeration value="KEYWORDS"/>
                    <xsd:enumeration value="USER_PROFILE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AdGroupStatusSelectionEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ACCEPTED"/>
                    <xsd:enumeration value="DRAFT"/>
                    <xsd:enumeration value="MODERATION"/>
                    <xsd:enumeration value="REJECTED"/>
                    <xsd:enumeration value="PREACCEPTED"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AdGroupAppIconStatusSelectionEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="ACCEPTED"/>
                    <xsd:enumeration value="MODERATION"/>
                    <xsd:enumeration value="REJECTED"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SourceProcessingStatusEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="EMPTY_RESULT"/>
                    <xsd:enumeration value="PROCESSED"/>
                    <xsd:enumeration value="UNKNOWN"/>
                    <xsd:enumeration value="UNPROCESSED"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SourceTypeGetEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="RETAIL_FEED"/>
                    <xsd:enumeration value="UNKNOWN"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="AdGroupsSelectionCriteria">
                <xsd:sequence>
                    <xsd:element name="CampaignIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="Ids" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="Types" type="general:AdGroupTypesEnum" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="Statuses" type="ns:AdGroupStatusSelectionEnum" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="TagIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="Tags" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="AppIconStatuses" type="ns:AdGroupAppIconStatusSelectionEnum" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="ServingStatuses" type="general:ServingStatusEnum" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="NegativeKeywordSharedSetIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdGroupBase">
                <xsd:sequence>
                    <xsd:element name="RegionIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="NegativeKeywords" type="general:ArrayOfString" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="NegativeKeywordSharedSetIds" type="general:ArrayOfLong" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="TrackingParams" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdGroupAddItem">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="CampaignId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="RegionIds" type="xsd:long" minOccurs="1" maxOccurs="unbounded"/>
                    <!--  not required, if specified but couldn't be empty  -->
                    <xsd:element name="NegativeKeywords" type="general:ArrayOfString" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="NegativeKeywordSharedSetIds" type="general:ArrayOfLong" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="TrackingParams" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="MobileAppAdGroup" type="ns:MobileAppAdGroupAdd" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="DynamicTextAdGroup" type="ns:DynamicTextAdGroup" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="DynamicTextFeedAdGroup" type="ns:DynamicTextFeedAdGroup" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="CpmBannerKeywordsAdGroup" type="ns:CpmBannerKeywordsAdGroupAdd" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="CpmBannerUserProfileAdGroup" type="ns:CpmBannerUserProfileAdGroupAdd" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="CpmVideoAdGroup" type="ns:CpmVideoAdGroupAdd" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="SmartAdGroup" type="ns:SmartAdGroupAdd" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="UnifiedAdGroup" type="ns:UnifiedAdGroupAdd" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="TextAdGroupFeedParams" type="ns:TextAdGroupFeedParamsAdd" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdGroupGetItem">
                <xsd:complexContent>
                    <xsd:extension base="ns:AdGroupBase">
                        <xsd:sequence>
                            <xsd:element name="Id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="CampaignId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Status" type="general:StatusEnum" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Type" type="general:AdGroupTypesEnum" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Subtype" type="ns:AdGroupSubtypeEnum" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MobileAppAdGroup" type="ns:MobileAppAdGroupGet" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DynamicTextAdGroup" type="ns:DynamicTextAdGroupGet" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DynamicTextFeedAdGroup" type="ns:DynamicTextFeedAdGroupGet" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SmartAdGroup" type="ns:SmartAdGroupGet" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="ServingStatus" type="general:ServingStatusEnum" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="RestrictedRegionIds" type="general:ArrayOfLong" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xsd:element name="TextAdGroupFeedParams" type="ns:TextAdGroupFeedParamsGet" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="UnifiedAdGroup" type="ns:UnifiedAdGroupGet" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:simpleType name="TargetDeviceTypeEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="DEVICE_TYPE_MOBILE"/>
                    <xsd:enumeration value="DEVICE_TYPE_TABLET"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="TargetCarrierEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="WI_FI_ONLY"/>
                    <xsd:enumeration value="WI_FI_AND_CELLULAR"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="AppAvailabilityStatusEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="UNPROCESSED"/>
                    <xsd:enumeration value="AVAILABLE"/>
                    <xsd:enumeration value="NOT_AVAILABLE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="MobileAppAdGroupGet">
                <xsd:sequence>
                    <xsd:element name="StoreUrl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="TargetDeviceType" type="ns:TargetDeviceTypeEnum" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="TargetCarrier" type="ns:TargetCarrierEnum" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="TargetOperatingSystemVersion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="AppIconModeration" type="general:ExtensionModeration" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="AppOperatingSystemType" type="general:MobileOperatingSystemTypeEnum" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="AppAvailabilityStatus" type="ns:AppAvailabilityStatusEnum" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MobileAppAdGroupUpdate">
                <xsd:sequence>
                    <xsd:element name="TargetDeviceType" type="ns:TargetDeviceTypeEnum" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="TargetCarrier" type="ns:TargetCarrierEnum" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="TargetOperatingSystemVersion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MobileAppAdGroupAdd">
                <xsd:sequence>
                    <xsd:element name="StoreUrl" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="TargetDeviceType" type="ns:TargetDeviceTypeEnum" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="TargetCarrier" type="ns:TargetCarrierEnum" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="TargetOperatingSystemVersion" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DynamicAdGroup">
                <xsd:sequence>
                    <xsd:element name="AutotargetingCategories" type="general:AutotargetingCategory" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="AutotargetingSettings" type="general:AutotargetingSettings" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DynamicAdGroupGet">
                <xsd:sequence>
                    <xsd:element name="AutotargetingCategories" type="general:AutotargetingCategoryArray" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="AutotargetingSettings" type="general:AutotargetingSettings" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DynamicTextAdGroup">
                <xsd:complexContent>
                    <xsd:extension base="ns:DynamicAdGroup">
                        <xsd:sequence>
                            <xsd:element name="DomainUrl" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DynamicTextAdGroupGet">
                <xsd:complexContent>
                    <xsd:extension base="ns:DynamicAdGroupGet">
                        <xsd:sequence>
                            <xsd:element name="DomainUrl" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DomainUrlProcessingStatus" type="ns:SourceProcessingStatusEnum" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DynamicTextFeedAdGroup">
                <xsd:complexContent>
                    <xsd:extension base="ns:DynamicAdGroup">
                        <xsd:sequence>
                            <xsd:element name="FeedId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DynamicTextFeedAdGroupUpdate">
                <xsd:complexContent>
                    <xsd:extension base="ns:DynamicAdGroup">
                        <xsd:sequence>
                            <xsd:element name="FeedId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DynamicSourceGet">
                <xsd:complexContent>
                    <xsd:extension base="ns:DynamicAdGroupGet">
                        <xsd:sequence>
                            <xsd:element name="Source" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="FeedId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SourceType" type="ns:SourceTypeGetEnum" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SourceProcessingStatus" type="ns:SourceProcessingStatusEnum" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DynamicTextFeedAdGroupGet">
                <xsd:complexContent>
                    <xsd:extension base="ns:DynamicSourceGet"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="TextAdGroupFeedParamsAdd">
                <xsd:sequence>
                    <xsd:element name="FeedId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="FeedCategoryIds" type="general:ArrayOfLong" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TextAdGroupFeedParamsUpdate">
                <xsd:sequence>
                    <xsd:element name="FeedId" type="xsd:long" minOccurs="1" maxOccurs="1" nillable="true"/>
                    <xsd:element name="FeedCategoryIds" type="general:ArrayOfLong" minOccurs="0" maxOccurs="1" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TextAdGroupFeedParamsGet">
                <xsd:sequence>
                    <xsd:element name="FeedId" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="FeedCategoryIds" type="general:ArrayOfLong" minOccurs="0" maxOccurs="1" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UnifiedAdGroupGet">
                <xsd:sequence>
                    <xsd:element name="OfferRetargeting" type="general:YesNoEnum" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CpmBannerKeywordsAdGroupAdd">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:complexType name="CpmBannerUserProfileAdGroupAdd">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:complexType name="CpmVideoAdGroupAdd">
                <xsd:sequence/>
            </xsd:complexType>
            <xsd:complexType name="UnifiedAdGroupAdd">
                <xsd:sequence>
                    <xsd:element name="OfferRetargeting" type="general:YesNoEnum" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UnifiedAdGroupUpdate">
                <xsd:sequence>
                    <xsd:element name="OfferRetargeting" type="general:YesNoEnum" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SmartAdGroupAdd">
                <xsd:sequence>
                    <xsd:element name="FeedId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="AdTitleSource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="AdBodySource" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SmartAdGroupGet">
                <xsd:sequence>
                    <xsd:element name="FeedId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="AdTitleSource" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="AdBodySource" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SmartAdGroupUpdate">
                <xsd:sequence>
                    <xsd:element name="AdTitleSource" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="AdBodySource" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AdGroupUpdateItem">
                <xsd:complexContent>
                    <xsd:extension base="ns:AdGroupBase">
                        <xsd:sequence>
                            <xsd:element name="Id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="MobileAppAdGroup" type="ns:MobileAppAdGroupUpdate" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DynamicTextAdGroup" type="ns:DynamicTextAdGroup" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="DynamicTextFeedAdGroup" type="ns:DynamicTextFeedAdGroupUpdate" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="SmartAdGroup" type="ns:SmartAdGroupUpdate" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="TextAdGroupFeedParams" type="ns:TextAdGroupFeedParamsUpdate" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="UnifiedAdGroup" type="ns:UnifiedAdGroupUpdate" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <!--  Get operation in and our message types  -->
            <xsd:element name="GetRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetRequestGeneral">
                            <xsd:sequence>
                                <xsd:element name="SelectionCriteria" type="ns:AdGroupsSelectionCriteria" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="FieldNames" type="ns:AdGroupFieldEnum" minOccurs="1" maxOccurs="unbounded"/>
                                <xsd:element name="MobileAppAdGroupFieldNames" type="ns:MobileAppAdGroupFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="DynamicTextAdGroupFieldNames" type="ns:DynamicTextAdGroupFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="DynamicTextFeedAdGroupFieldNames" type="ns:DynamicTextFeedAdGroupFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="AutotargetingSettingsCategoriesFieldNames" type="general:AutotargetingCategoriesFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="AutotargetingSettingsBrandOptionsFieldNames" type="general:AutotargetingBrandOptionsFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="SmartAdGroupFieldNames" type="ns:SmartAdGroupFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="TextAdGroupFeedParamsFieldNames" type="ns:TextAdGroupFeedParamsFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="UnifiedAdGroupFieldNames" type="ns:UnifiedAdGroupFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetResponseGeneral">
                            <xsd:sequence>
                                <xsd:element name="AdGroups" type="ns:AdGroupGetItem" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <!--  / End of Get operation types  -->
            <!--  Add operation types  -->
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AdGroups" type="ns:AdGroupAddItem" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AddResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!--  end of Add operation types  -->
            <!--  Update operation types  -->
            <xsd:element name="UpdateRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AdGroups" type="ns:AdGroupUpdateItem" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="UpdateResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!--  end of Update operation types  -->
            <!--  Delete operation types  -->
            <xsd:element name="DeleteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SelectionCriteria" type="general:IdsCriteria" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DeleteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DeleteResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!--  Delete operation types  -->
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApiException">
        <wsdl:part element="general:FaultResponse" name="faultMessage"/>
    </wsdl:message>
    <wsdl:message name="GetOperationRequest">
        <wsdl:part element="ns:GetRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOperationResponse">
        <wsdl:part element="ns:GetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="AddOperationRequest">
        <wsdl:part element="ns:AddRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="AddOperationResponse">
        <wsdl:part element="ns:AddResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateOperationRequest">
        <wsdl:part element="ns:UpdateRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateOperationResponse">
        <wsdl:part element="ns:UpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DeleteOperationRequest">
        <wsdl:part element="ns:DeleteRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DeleteOperationResponse">
        <wsdl:part element="ns:DeleteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="AdGroupsPort">
        <wsdl:operation name="get">
            <wsdl:input message="ns:GetOperationRequest" name="getRequest"/>
            <wsdl:output message="ns:GetOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="add">
            <wsdl:input message="ns:AddOperationRequest" name="addRequest"/>
            <wsdl:output message="ns:AddOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="ns:UpdateOperationRequest" name="updateRequest"/>
            <wsdl:output message="ns:UpdateOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="ns:DeleteOperationRequest" name="deleteRequest"/>
            <wsdl:output message="ns:DeleteOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdGroupsSOAP" type="ns:AdGroupsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/adgroups/get"/>
            <wsdl:input name="getRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="add">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/adgroups/add"/>
            <wsdl:input name="addRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/adgroups/update"/>
            <wsdl:input name="updateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/adgroups/delete"/>
            <wsdl:input name="deleteRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdGroups">
        <wsdl:port binding="ns:AdGroupsSOAP" name="AdGroupsSOAP">
            <soap:address location="https://soap.direct.yandex.ru/v5/adgroups/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>