tests/wsdl_cache/agencyclients.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:general="http://api.direct.yandex.com/v5/general"
                  xmlns:gc="http://api.direct.yandex.com/v5/generalclients"
                  xmlns:ns="http://api.direct.yandex.com/v5/agencyclients"
                  name="AgencyClients" targetNamespace="http://api.direct.yandex.com/v5/agencyclients">
    <wsdl:types>
        <xsd:schema targetNamespace="http://api.direct.yandex.com/v5/agencyclients">
            <xsd:import namespace="http://api.direct.yandex.com/v5/general" schemaLocation="https://soap.direct.yandex.ru/v5/general.xsd" />
            <xsd:import namespace="http://api.direct.yandex.com/v5/generalclients" schemaLocation="https://soap.direct.yandex.ru/v5/generalclients.xsd" />
            <xsd:simpleType name="AgencyClientFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="AccountQuality"/>
                    <xsd:enumeration value="Archived"/>
                    <xsd:enumeration value="ClientId"/>
                    <xsd:enumeration value="ClientInfo"/>
                    <xsd:enumeration value="CountryId"/>
                    <xsd:enumeration value="CreatedAt"/>
                    <xsd:enumeration value="Currency"/>
                    <xsd:enumeration value="Grants"/>
                    <xsd:enumeration value="Bonuses"/>
                    <xsd:enumeration value="Login"/>
                    <xsd:enumeration value="Notification"/>
                    <xsd:enumeration value="OverdraftSumAvailable"/>
                    <xsd:enumeration value="Phone"/>
                    <xsd:enumeration value="Representatives"/>
                    <xsd:enumeration value="Restrictions"/>
                    <xsd:enumeration value="Settings"/>
                    <xsd:enumeration value="Type"/>
                    <xsd:enumeration value="VatRate"/>
                    <xsd:enumeration value="ForbiddenPlatform"/>
                    <xsd:enumeration value="AvailableCampaignTypes"/>
                    <xsd:enumeration value="AvailableAdGroupTypes"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="AgencyClientsSelectionCriteria">
                <xsd:sequence>
                    <xsd:element name="Logins" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="Archived" type="general:YesNoEnum" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="AgencyClientUpdateItem">
                <xsd:complexContent>
                    <xsd:extension base="gc:ClientUpdateItem">
                        <xsd:sequence>
                            <xsd:element name="ClientId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="Grants" type="gc:GrantItem" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="SendInviteTo">
                <xsd:sequence>
                    <xsd:element name="Phone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Email" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetRequestGeneral">
                            <xsd:sequence>
                                <xsd:element name="SelectionCriteria" type="ns:AgencyClientsSelectionCriteria" minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="FieldNames" type="ns:AgencyClientFieldEnum" minOccurs="1"
                                             maxOccurs="unbounded"/>
                                <xsd:element name="TinInfoFieldNames" type="gc:TinInfoFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="OrganizationFieldNames" type="gc:OrgInfoFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="ContractFieldNames" type="gc:ContractInfoFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="ContragentFieldNames" type="gc:ContragentInfoFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                                <xsd:element name="ContragentTinInfoFieldNames" type="gc:TinInfoFieldEnum" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetResponseGeneral">
                            <xsd:sequence>
                                <xsd:element name="Clients" type="gc:ClientGetItem" minOccurs="0"
                                             maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Login" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="FirstName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="LastName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="Currency" type="general:CurrencyEnum" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="Notification" type="gc:NotificationAdd" minOccurs="1"
                                     maxOccurs="1"/>
                        <xsd:element name="Settings" type="gc:ClientSettingAddItem" minOccurs="0"
                                     maxOccurs="unbounded"/>
                        <xsd:element name="Grants" type="gc:GrantItem" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="TinInfo" type="gc:TinInfoAdd" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:ActionResultBase">
                            <xsd:sequence>
                                <xsd:element name="Login" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                                <xsd:element name="Password" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                                <xsd:element name="Email" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                                <xsd:element name="ClientId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddPassportOrganizationRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="Currency" type="general:CurrencyEnum" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="Notification" type="gc:NotificationAdd" minOccurs="1"
                                     maxOccurs="1"/>
                        <xsd:element name="Settings" type="gc:ClientSettingAddItem" minOccurs="0"
                                     maxOccurs="unbounded"/>
                        <xsd:element name="Grants" type="gc:GrantItem" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="TinInfo" type="gc:TinInfoAdd" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddPassportOrganizationResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:ActionResultBase">
                            <xsd:sequence>
                                <xsd:element name="Login" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                                <xsd:element name="ClientId" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddPassportOrganizationMemberRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PassportOrganizationLogin" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="Role" type="general:RoleEnum" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="SendInviteTo" type="ns:SendInviteTo" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddPassportOrganizationMemberResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:ActionResultBase">
                            <xsd:sequence>
                                <xsd:element name="PassportOrganizationLogin" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Clients" type="ns:AgencyClientUpdateItem" minOccurs="1" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="UpdateResults" type="general:ClientsActionResult" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApiException">
        <wsdl:part name="faultMessage" element="general:FaultResponse"/>
    </wsdl:message>
    <wsdl:message name="GetOperationRequest">
        <wsdl:part name="parameters" element="ns:GetRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOperationResponse">
        <wsdl:part name="parameters" element="ns:GetResponse"/>
    </wsdl:message>
    <wsdl:message name="AddOperationRequest">
        <wsdl:part name="parameters" element="ns:AddRequest"/>
    </wsdl:message>
    <wsdl:message name="AddOperationResponse">
        <wsdl:part name="parameters" element="ns:AddResponse"/>
    </wsdl:message>
    <wsdl:message name="AddPassportOrganizationOperationRequest">
        <wsdl:part name="parameters" element="ns:AddPassportOrganizationRequest"/>
    </wsdl:message>
    <wsdl:message name="AddPassportOrganizationOperationResponse">
        <wsdl:part name="parameters" element="ns:AddPassportOrganizationResponse"/>
    </wsdl:message>
    <wsdl:message name="AddPassportOrganizationMemberOperationRequest">
        <wsdl:part name="parameters" element="ns:AddPassportOrganizationMemberRequest"/>
    </wsdl:message>
    <wsdl:message name="AddPassportOrganizationMemberOperationResponse">
        <wsdl:part name="parameters" element="ns:AddPassportOrganizationMemberResponse"/>
    </wsdl:message>
    <wsdl:message name="UpdateOperationRequest">
        <wsdl:part name="parameters" element="ns:UpdateRequest"/>
    </wsdl:message>
    <wsdl:message name="UpdateOperationResponse">
        <wsdl:part name="parameters" element="ns:UpdateResponse"/>
    </wsdl:message>
    <wsdl:portType name="AgencyClientsPort">
        <wsdl:operation name="get">
            <wsdl:input message="ns:GetOperationRequest"/>
            <wsdl:output message="ns:GetOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="add">
            <wsdl:input message="ns:AddOperationRequest"/>
            <wsdl:output message="ns:AddOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="addPassportOrganization">
            <wsdl:input message="ns:AddPassportOrganizationOperationRequest"/>
            <wsdl:output message="ns:AddPassportOrganizationOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="addPassportOrganizationMember">
            <wsdl:input message="ns:AddPassportOrganizationMemberOperationRequest"/>
            <wsdl:output message="ns:AddPassportOrganizationMemberOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input  message="ns:UpdateOperationRequest"/>
            <wsdl:output message="ns:UpdateOperationResponse"/>
            <wsdl:fault  message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AgencyClientsSOAP" type="ns:AgencyClientsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/agencyclients/get"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="add">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/agencyclients/add"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPassportOrganization">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/agencyclients/addPassportOrganization"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addPassportOrganizationMember">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/agencyclients/addPassportOrganizationMember"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/agencyclients/update"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AgencyClients">
        <wsdl:port binding="ns:AgencyClientsSOAP" name="AgencyClientsSOAP">
            <soap:address location="https://soap.direct.yandex.ru/v5/agencyclients"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>