tests/wsdl_cache/feeds.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:general="http://api.direct.yandex.com/v5/general"
                  xmlns:ns="http://api.direct.yandex.com/v5/feeds"
                  name="Feeds"
                  targetNamespace="http://api.direct.yandex.com/v5/feeds">
    <wsdl:types>
        <xsd:schema targetNamespace="http://api.direct.yandex.com/v5/feeds">
            <xsd:import namespace="http://api.direct.yandex.com/v5/general" schemaLocation="https://soap.direct.yandex.ru/v5/general.xsd"/>
            <xsd:simpleType name="BusinessTypeEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="RETAIL"/>
                    <xsd:enumeration value="HOTELS"/>
                    <xsd:enumeration value="REALTY"/>
                    <xsd:enumeration value="AUTOMOBILES"/>
                    <xsd:enumeration value="FLIGHTS"/>
                    <xsd:enumeration value="OTHER"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SourceTypeEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="URL"/>
                    <xsd:enumeration value="FILE"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="FeedStatusEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="NEW"/>
                    <xsd:enumeration value="UPDATING"/>
                    <xsd:enumeration value="DONE"/>
                    <xsd:enumeration value="ERROR"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="FeedFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Id"/>
                    <xsd:enumeration value="Name"/>
                    <xsd:enumeration value="BusinessType"/>
                    <xsd:enumeration value="SourceType"/>
                    <xsd:enumeration value="FilterSchema"/>
                    <xsd:enumeration value="UpdatedAt"/>
                    <xsd:enumeration value="CampaignIds"/>
                    <xsd:enumeration value="NumberOfItems"/>
                    <xsd:enumeration value="NumberOfListings"/>
                    <xsd:enumeration value="Status"/>
                    <xsd:enumeration value="TitleAndTextSources"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="FileFeedFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Filename"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="UrlFeedFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Login"/>
                    <xsd:enumeration value="Url"/>
                    <xsd:enumeration value="RemoveUtmTags"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="UrlFeedBase">
                <xsd:sequence>
                    <xsd:element name="RemoveUtmTags" type="general:YesNoEnum" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UrlFeedAdd">
                <xsd:complexContent>
                    <xsd:extension base="ns:UrlFeedBase">
                        <xsd:sequence>
                            <xsd:element name="Url" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                            <xsd:element name="Login" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Password" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="UrlFeedGet">
                <xsd:complexContent>
                    <xsd:extension base="ns:UrlFeedBase">
                        <xsd:sequence>
                            <xsd:element name="Url" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Login" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="UrlFeedUpdate">
                <xsd:complexContent>
                    <xsd:extension base="ns:UrlFeedBase">
                        <xsd:sequence>
                            <xsd:element name="Url" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                            <xsd:element name="Login" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                            <xsd:element name="Password" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="FileFeedAdd">
                <xsd:sequence>
                    <xsd:element name="Data" type="xsd:base64Binary" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="Filename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FileFeedUpdate">
                <xsd:sequence>
                    <xsd:element name="Data" type="xsd:base64Binary" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="Filename" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FileFeedGet">
                <xsd:sequence>
                    <xsd:element name="Filename" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FeedsSelectionCriteria">
                <xsd:sequence>
                    <xsd:element name="Ids" type="xsd:long" minOccurs="1" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FeedAddItem">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="BusinessType" type="ns:BusinessTypeEnum" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="SourceType" type="ns:SourceTypeEnum" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="UrlFeed" type="ns:UrlFeedAdd" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="FileFeed" type="ns:FileFeedAdd" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FeedGetItem">
                <xsd:sequence>
                    <xsd:element name="Id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="BusinessType" type="ns:BusinessTypeEnum" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="SourceType" type="ns:SourceTypeEnum" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="FilterSchema" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="UpdatedAt" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="CampaignIds" type="general:ArrayOfLong" minOccurs="0" maxOccurs="1"
                                 nillable="true"/>
                    <xsd:element name="FileFeed" type="ns:FileFeedGet" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="NumberOfItems" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="NumberOfListings" type="xsd:long" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="Status" type="ns:FeedStatusEnum" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="UrlFeed" type="ns:UrlFeedGet" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="TitleAndTextSources" type="general:ArrayOfString" minOccurs="0" maxOccurs="1"
                                 nillable="true"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="FeedUpdateItem">
                <xsd:sequence>
                    <xsd:element name="Id" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="UrlFeed" type="ns:UrlFeedUpdate" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="FileFeed" type="ns:FileFeedUpdate" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Feeds" type="ns:FeedAddItem" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AddResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetRequestGeneral">
                            <xsd:sequence>
                                <xsd:element name="FieldNames" type="ns:FeedFieldEnum" minOccurs="1"
                                             maxOccurs="unbounded"/>
                                <xsd:element name="FileFeedFieldNames" type="ns:FileFeedFieldEnum" minOccurs="0"
                                             maxOccurs="unbounded"/>
                                <xsd:element name="UrlFeedFieldNames" type="ns:UrlFeedFieldEnum" minOccurs="0"
                                             maxOccurs="unbounded"/>
                                <xsd:element name="SelectionCriteria" type="ns:FeedsSelectionCriteria" minOccurs="0"
                                             maxOccurs="1"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetResponseGeneral">
                            <xsd:sequence>
                                <xsd:element name="Feeds" type="ns:FeedGetItem" minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Feeds" type="ns:FeedUpdateItem" minOccurs="1" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="UpdateResults" type="general:ActionResult" minOccurs="1"
                                     maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DeleteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SelectionCriteria" type="ns:FeedsSelectionCriteria" minOccurs="1"
                                     maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DeleteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DeleteResults" type="general:ActionResult" minOccurs="1"
                                     maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApiException">
        <wsdl:part element="general:FaultResponse" name="faultMessage"/>
    </wsdl:message>
    <wsdl:message name="AddOperationRequest">
        <wsdl:part element="ns:AddRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="AddOperationResponse">
        <wsdl:part element="ns:AddResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOperationRequest">
        <wsdl:part element="ns:GetRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOperationResponse">
        <wsdl:part element="ns:GetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateOperationRequest">
        <wsdl:part element="ns:UpdateRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="UpdateOperationResponse">
        <wsdl:part element="ns:UpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DeleteOperationRequest">
        <wsdl:part element="ns:DeleteRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="DeleteOperationResponse">
        <wsdl:part element="ns:DeleteResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="FeedsPort">
        <wsdl:operation name="add">
            <wsdl:input message="ns:AddOperationRequest" name="addRequest"/>
            <wsdl:output message="ns:AddOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input message="ns:GetOperationRequest" name="getRequest"/>
            <wsdl:output message="ns:GetOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="ns:UpdateOperationRequest" name="updateRequest"/>
            <wsdl:output message="ns:UpdateOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="ns:DeleteOperationRequest" name="deleteRequest"/>
            <wsdl:output message="ns:DeleteOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FeedsSOAP" type="ns:FeedsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/feeds/add"/>
            <wsdl:input name="addRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/feeds/get"/>
            <wsdl:input name="getRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/feeds/update"/>
            <wsdl:input name="updateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="http://api.direct.yandex.com/v5/feeds/delete"/>
            <wsdl:input name="deleteRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Feeds">
        <wsdl:port binding="ns:FeedsSOAP" name="FeedsSOAP">
            <soap:address location="https://soap.direct.yandex.ru/v5/feeds/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>