tests/wsdl_cache/keywords.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:general="http://api.direct.yandex.com/v5/general"
                  xmlns:ns="http://api.direct.yandex.com/v5/keywords"
                  name="Keywords"
                  targetNamespace="http://api.direct.yandex.com/v5/keywords">
    <wsdl:types>
        <xsd:schema targetNamespace="http://api.direct.yandex.com/v5/keywords">
            <xsd:import namespace="http://api.direct.yandex.com/v5/general" schemaLocation="https://soap.direct.yandex.ru/v5/general.xsd" />
            <xsd:simpleType name="KeywordFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Id" />
                    <xsd:enumeration value="Keyword" />
                    <xsd:enumeration value="State" />
                    <xsd:enumeration value="Status" />
                    <xsd:enumeration value="AdGroupId" />
                    <xsd:enumeration value="CampaignId" />
                    <xsd:enumeration value="Bid" />
                    <xsd:enumeration value="AutotargetingSearchBidIsAuto" />
                    <xsd:enumeration value="ContextBid" />
                    <xsd:enumeration value="StrategyPriority" />
                    <xsd:enumeration value="UserParam1" />
                    <xsd:enumeration value="UserParam2" />
                    <xsd:enumeration value="Productivity" />
                    <xsd:enumeration value="StatisticsSearch" />
                    <xsd:enumeration value="StatisticsNetwork" />
                    <xsd:enumeration value="ServingStatus" />
                    <xsd:enumeration value="AutotargetingCategories" />
                    <xsd:enumeration value="AutotargetingBrandOptions" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="KeywordStateSelectionEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="OFF" />
                    <xsd:enumeration value="ON" />
                    <xsd:enumeration value="SUSPENDED" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="KeywordStatusSelectionEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="DRAFT" />
                    <xsd:enumeration value="ACCEPTED" />
                    <xsd:enumeration value="REJECTED" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="KeywordsSelectionCriteria">
                <xsd:sequence>
                    <xsd:element name="Ids" type="xsd:long" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="AdGroupIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="CampaignIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="States" type="ns:KeywordStateSelectionEnum" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="Statuses" type="ns:KeywordStatusSelectionEnum" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="ModifiedSince" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="ServingStatuses" type="general:ServingStatusEnum" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="KeywordAddItem">
                <xsd:sequence>
                    <xsd:element name="Keyword" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="AdGroupId" type="xsd:long" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="Bid" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="AutotargetingSearchBidIsAuto" type="general:YesNoEnum" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="ContextBid" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="StrategyPriority" type="general:PriorityEnum" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="UserParam1" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="UserParam2" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="AutotargetingCategories" type="general:AutotargetingCategory" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="AutotargetingBrandOptions" type="general:AutotargetingBrandOption" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="AutotargetingSettings" type="general:AutotargetingSettings" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="KeywordProductivity">
                <xsd:sequence>
                    <xsd:element name="Value" type="xsd:decimal" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="References" type="xsd:int" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="KeywordGetItem">
                <xsd:sequence>
                    <xsd:element name="Id" type="xsd:long" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="Keyword" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="AdGroupId" type="xsd:long" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="CampaignId" type="xsd:long" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="Bid" type="xsd:long" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="AutotargetingSearchBidIsAuto" type="general:YesNoEnum" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="ContextBid" type="xsd:long" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="StrategyPriority" type="general:PriorityEnum" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xsd:element name="State" type="general:StateEnum" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="Status" type="general:StatusEnum" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="UserParam1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xsd:element name="UserParam2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xsd:element name="Productivity" type="ns:KeywordProductivity" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xsd:element name="StatisticsSearch" type="general:Statistics" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="StatisticsNetwork" type="general:Statistics" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="ServingStatus" type="general:ServingStatusEnum" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="AutotargetingCategories" type="general:AutotargetingCategoryArray" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xsd:element name="AutotargetingBrandOptions" type="general:AutotargetingBrandOptionArray" minOccurs="0" maxOccurs="1" nillable="true"/>
                    <xsd:element name="AutotargetingSettings" type="general:AutotargetingSettings" minOccurs="0" maxOccurs="1" nillable="true" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="KeywordUpdateItem">
                <xsd:sequence>
                    <xsd:element name="Id" type="xsd:long" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="Keyword" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="UserParam1" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xsd:element name="UserParam2" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true" />
                    <xsd:element name="AutotargetingCategories" type="general:AutotargetingCategory" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element name="AutotargetingBrandOptions" type="general:AutotargetingBrandOption" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="AutotargetingSettings" type="general:AutotargetingSettings" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Keywords" type="ns:KeywordAddItem" minOccurs="1" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AddResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetRequestGeneral">
                            <xsd:sequence>
                                <xsd:element name="SelectionCriteria" type="ns:KeywordsSelectionCriteria" minOccurs="1" maxOccurs="1" />
                                <xsd:element name="FieldNames" type="ns:KeywordFieldEnum" minOccurs="1" maxOccurs="unbounded" />
                                <xsd:element name="AutotargetingSettingsCategoriesFieldNames" type="general:AutotargetingCategoriesFieldEnum" minOccurs="0" maxOccurs="unbounded" />
                                <xsd:element name="AutotargetingSettingsBrandOptionsFieldNames" type="general:AutotargetingBrandOptionsFieldEnum" minOccurs="0" maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetResponseGeneral">
                            <xsd:sequence>
                                <xsd:element name="Keywords" type="ns:KeywordGetItem" minOccurs="0" maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Keywords" type="ns:KeywordUpdateItem" minOccurs="1" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UpdateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="UpdateResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DeleteRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SelectionCriteria" type="general:IdsCriteria" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DeleteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DeleteResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SuspendRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SelectionCriteria" type="general:IdsCriteria" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SuspendResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SuspendResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ResumeRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SelectionCriteria" type="general:IdsCriteria" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ResumeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ResumeResults" type="general:ActionResult" minOccurs="1" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AddOperationRequest">
        <wsdl:part element="ns:AddRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="AddOperationResponse">
        <wsdl:part element="ns:AddResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOperationRequest">
        <wsdl:part element="ns:GetRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetOperationResponse">
        <wsdl:part element="ns:GetResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateOperationRequest">
        <wsdl:part element="ns:UpdateRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateOperationResponse">
        <wsdl:part element="ns:UpdateResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteOperationRequest">
        <wsdl:part element="ns:DeleteRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeleteOperationResponse">
        <wsdl:part element="ns:DeleteResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="SuspendOperationRequest">
        <wsdl:part element="ns:SuspendRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="SuspendOperationResponse">
        <wsdl:part element="ns:SuspendResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ResumeOperationRequest">
        <wsdl:part element="ns:ResumeRequest" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ResumeOperationResponse">
        <wsdl:part element="ns:ResumeResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ApiException">
        <wsdl:part element="general:FaultResponse" name="faultMessage" />
    </wsdl:message>
    <wsdl:portType name="KeywordsPort">
        <wsdl:operation name="add">
            <wsdl:input message="ns:AddOperationRequest" name="addRequest"/>
            <wsdl:output message="ns:AddOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException" />
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input message="ns:GetOperationRequest" name="getRequest"/>
            <wsdl:output message="ns:GetOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException" />
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="ns:UpdateOperationRequest" name="updateRequest"/>
            <wsdl:output message="ns:UpdateOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException" />
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="ns:DeleteOperationRequest" name="deleteRequest"/>
            <wsdl:output message="ns:DeleteOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException" />
        </wsdl:operation>
        <wsdl:operation name="suspend">
            <wsdl:input message="ns:SuspendOperationRequest" name="suspendRequest"/>
            <wsdl:output message="ns:SuspendOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException" />
        </wsdl:operation>
        <wsdl:operation name="resume">
            <wsdl:input message="ns:ResumeOperationRequest" name="resumeRequest"/>
            <wsdl:output message="ns:ResumeOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="KeywordsSOAP" type="ns:KeywordsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="add">
            <soap:operation soapAction="http://api.direct.yandex.com/v5/keywords/add"/>
            <wsdl:input name="addRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation soapAction="http://api.direct.yandex.com/v5/keywords/get"/>
            <wsdl:input name="getRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="http://api.direct.yandex.com/v5/keywords/update"/>
            <wsdl:input name="updateRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="http://api.direct.yandex.com/v5/keywords/delete"/>
            <wsdl:input name="deleteRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="suspend">
            <soap:operation soapAction="http://api.direct.yandex.com/v5/keywords/suspend"/>
            <wsdl:input name="suspendRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="resume">
            <soap:operation soapAction="http://api.direct.yandex.com/v5/keywords/resume"/>
            <wsdl:input name="resumeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Keywords">
        <wsdl:port binding="ns:KeywordsSOAP" name="KeywordsSOAP">
            <soap:address location="https://soap.direct.yandex.ru/v5/keywords/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>