tests/wsdl_cache/leads.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns="http://api.direct.yandex.com/v5/leads"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:general="http://api.direct.yandex.com/v5/general"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="Leads"
                  targetNamespace="http://api.direct.yandex.com/v5/leads">
    <wsdl:types>
        <xsd:schema targetNamespace="http://api.direct.yandex.com/v5/leads">
            <xsd:import namespace="http://api.direct.yandex.com/v5/general" schemaLocation="https://soap.direct.yandex.ru/v5/general.xsd"/>
            <xsd:simpleType name="LeadFieldEnum">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Id"/>
                    <xsd:enumeration value="SubmittedAt"/>
                    <xsd:enumeration value="TurboPageId"/>
                    <xsd:enumeration value="TurboPageName"/>
                    <xsd:enumeration value="Data"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="LeadsSelectionCriteria">
                <xsd:sequence>
                    <xsd:element name="TurboPageIds" type="xsd:long" minOccurs="1" maxOccurs="unbounded"/>
                    <xsd:element name="DateTimeFrom" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="DateTimeTo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LeadDataItem">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="Value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LeadGetItem">
                <xsd:sequence>
                    <xsd:element name="Id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="SubmittedAt" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="TurboPageId" type="xsd:long" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="TurboPageName" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="Data" type="ns:LeadDataItem" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="GetRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetRequestGeneral">
                            <xsd:sequence>
                                <xsd:element name="SelectionCriteria" type="ns:LeadsSelectionCriteria"
                                             minOccurs="1" maxOccurs="1"/>
                                <xsd:element name="FieldNames" type="ns:LeadFieldEnum"
                                             minOccurs="1" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetResponse">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="general:GetResponseGeneral">
                            <xsd:sequence>
                                <xsd:element name="Leads" type="ns:LeadGetItem"
                                             minOccurs="0" maxOccurs="unbounded"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ApiException">
        <wsdl:part element="general:FaultResponse" name="faultMessage"/>
    </wsdl:message>
    <wsdl:message name="GetOperationRequest">
        <wsdl:part element="ns:GetRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetOperationResponse">
        <wsdl:part element="ns:GetResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="LeadsPort">
        <wsdl:operation name="get">
            <wsdl:input message="ns:GetOperationRequest"/>
            <wsdl:output message="ns:GetOperationResponse"/>
            <wsdl:fault message="ns:ApiException" name="ApiException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LeadsSOAP" type="ns:LeadsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get">
            <soap:operation soapAction="https://api.direct.yandex.com/v5/leads/get"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ApiException">
                <soap:fault name="ApiException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Leads">
        <wsdl:port binding="ns:LeadsSOAP" name="LeadsSOAP">
            <soap:address location="https://soap.direct.yandex.ru/v5/leads"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>